.hotel-detail-area{
    margin:75px 0px 81px 0px;
}

.h-box p{
    width: 100%; 
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    filter: drop-shadow(0px 14px 40px #0000000F);
}
.hotel-details-btn{
    padding:45px 0px 0px 0px ;
}